@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

:root {
    --fonte-marca: "Mitr", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #9378dd;
    font-family: var(--fonte-marca);
    font-weight: 400;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.linguagens {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.botao {
    margin: 0;
}

.bandeira {
    width: 1.5em;
    border-radius: 8px;
    border: solid 2px #FFF;
    cursor: pointer;
    outline: inherit;
    margin-left: 1px;
}

.bandeira.selected {
    border: solid 2px #183aff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-color: #C9ADD3;
    border-radius: 12px;
    min-height: 12em;
}

.hide {
    display: none;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item:hover {
    filter: invert(100%) grayscale(0%) saturate(95%);
}

.tdm-botao {
    max-width: 3em;
    margin: 3px;
}

.item__titulo {
    margin: 3px;
    color: #000;
    font-size: 16px;
}

.logo {
    width: 4em;
}

.marca {
    font-family: var(--fonte-marca);
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

@media (min-width: 768px) {
/*  header {
        padding-top: 1em;
    } */

    .bandeira {
        width: 2em;
        border-radius: 12px;
    }

    .logo {
        width: 8em;
    }

    .marca {
        font-family: var(--fonte-marca);
        color: #FFF;
        font-size: 48px;
        font-weight: 600;
    }

    main {
        margin: 4em;
        min-height: 24em;
        border-radius: 24px;
    }

    .tdm-botao {
        max-width: 4em;
        margin: 5px;
    }

    .item__titulo {
        font-size: 24px;
    }
}
